DB_FILE_NAME=data/sqlite.db
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

S3_PROVIDER=local

# leave this blank if you don't want to use hosted S3/MinIO

S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=